@import '../commons/colors.scss';

.Header {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-1;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.3);
  
  &__logo {
    display: flex;
    align-items: center;
    
    img {
      width: 30%;
      max-width: 90%;
      min-width: 50px;
    }
  }
  
  &__profile {
    &:hover {
      ul {
        display: block;
      }
    }
    
    &--image {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 120px;
      img {
        width: 30px;
      }
    }
    
    &--menu {
      display: none;
      color: $white;
      margin: 0 0 0 4px;
      padding: 0;
      text-align: right;
      list-style: none;
      position: absolute;
      text-decoration: none;
      
      li {
        margin: 10px 0;
        &:hover a {
          text-decoration-color: $white;
          text-decoration: underline;
        }
        
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.isLogin, .isRegister {
  background-color: #58595b;
}