@import 'commons/colors.scss';
@import 'Media.scss';
@import 'Vars.scss';
/************************** global */
  
body {
  margin: 0;
  padding: 0;
  background-color: $white-white;
  font-family: $theme-font;
  background-color: rgb(73, 160, 161);
}

