@import 'commons/colors.scss';
@import 'Media.scss';
/************************** global */
  
body {
  margin: 0;
  padding: 0;
  background-color: $white-white;
  font-family: 'Gayathri-thin', sans-serif;
  background-color: chocolate;
}

